@layer components {
  .grad-primary: {
    color: linear-gradient(310deg, #ec407a, #d81b60);
  }
  .grad-secondary: {
    color: linear-gradient(310deg, #ec407a, #d81b60);
  }
  .grad-info: {
    color: linear-gradient(310deg, #ec407a, #d81b60);
  }
  .grad-success: {
    color: linear-gradient(310deg, #ec407a, #d81b60);
  }
  .grad-warning: {
    color: linear-gradient(310deg, #ec407a, #d81b60);
  }
  .grad-light: {
    color: linear-gradient(310deg, #ec407a, #d81b60);
  }
  .grad-dark: {
    color: linear-gradient(310deg, #ec407a, #d81b60);
  }
}
